/* Styles for Notes page */
.text-container {
    text-overflow: ellipsis;
    width: 200px;
    height: 70px;
    white-space: normal;
    overflow: hidden;
    padding: 10px;
}

.note-image {
    max-width: 160px;
    max-height: 100px;
}

/* Loading indicator styles */
.loader {
    z-index: 2;
    position: fixed;
    top: 50%;
    right: 50%;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.note-id {
    display: none;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}